.container {
    margin: 100px 400px;
}

.no-box {
    padding-left: 30px;
    font-size: 60px;
}

.btn {
    background-color: rgb(179, 179, 179);
}

.btn:hover {
    color: white;
    background-color: green;
}