#player1{
    display: none;
}
#station{
    display: none;
}
#radio{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 20vw;
    height: 40vh;
}
#buttons {
    position: fixed;
    left: 0;
    bottom: 0;
}  
#radioImage{
    background-image: url("radio.png");
    background-size: cover;
    position: center;
    bottom: 38px;
    left: 0;
    width: 20vw;
    height: calc(40vh - 38px);
}
.input-group{
    width: 20vw;
    left:0px;
    position: fixed;
}